<ion-header>
  <ion-navbar>
    <ion-title>
      RespiConnect
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding>
  <button (click)='scan()'>Scan</button>
  <h2 *ngIf="spo2">SPO2: {{spo2}}</h2>
  <h2 *ngIf="heartrate">Pulse: {{heartrate}}</h2>
  <button (click)='sleep()'>Get Sleep Data</button>
</ion-content> -->

<ion-content class="card-background-page">

  <div class="row">
    <div class="col text-center dashboard-btn-col">
      <ion-card class="dashboard-card" id="heart-rate">
        <button class="button button-positive" class="dashboard-btn">
          <img src="/assets/imgs/cardiogram.svg" />
        </button>
        <h3 class="title vital">{{heartrate}}</h3>
        <h3 class="title">Resting Heart Rate</h3>
      </ion-card>
    </div>
    <div class="col text-center dashboard-btn-col right-btn">
      <ion-card class="dashboard-card" id="he-card" (click)="navToPage('homerescue')">
        <button class="button button-positive" class="dashboard-btn">
          <img src="assets/imgs/oximeter.png" />
        </button>
        <h3 class="title vital">{{spo2}}</h3>
        <h3 class="title">Blood Oxygen Level</h3>
      </ion-card>
    </div>

  </div>


  <ion-content class="card-background-page">
  
    <div class="row">
      <div class="col text-center dashboard-btn-col">
        <ion-card class="dashboard-card" id="heart-rate">
          <button class="button button-positive" class="dashboard-btn">
            <img src="/assets/imgs/bed.svg" />
          </button>
          <h3 class="title">Sleep Statistics</h3>
        </ion-card>
      </div>
      <div class="col text-center dashboard-btn-col right-btn">
        <ion-card class="dashboard-card" id="he-card" (click)="navToPage('homerescue')">
          <button class="button button-positive" class="dashboard-btn">
            <img src="assets/imgs/oximeter.png" />
          </button>
          <h3 class="title">Spirometry</h3>
        </ion-card>
      </div>
  
    </div>

  

  <div class="row">
    <div class="col text-center dashboard-btn-col">
      <ion-card class="dashboard-card" id="trackmyjobs-card" (click)="navToPage('trackmyclaims')">
        <ion-row>
          <ion-col width-50>
            <button class="button button-positive" class="dashboard-btn">
              <img src="assets/imgs/contract.svg" style="max-width: 50%;float:left;margin-left:1em" />
            </button>
          </ion-col>
          <ion-col width-50 class="v-align-text">
            <h3 class="dashboard-title" style="margin-left:5rem">TRACK MY JOBS</h3>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>


  <div class="row">
    <div class="col text-center dashboard-btn-col">
      <ion-card class="dashboard-card" id="documents-card" (click)="navToPage('documents')">
        <ion-row>
          <ion-col width-50 class="v-align-text">
            <h3 class="dashboard-title" style="margin-left:1em">VIEW DOCUMENTS</h3>
          </ion-col>
          <ion-col width-50>
            <button class="button button-positive" class="dashboard-btn">
              <img src="assets/imgs/documents-btn.png" style="max-width: 50%;float:right;margin-right:1em" />
            </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
  <br>
</ion-content>
